extends layout

block content
  h1= title
  p Welcome to #{title}

  a Please use this as a commandline api, see the commandline output

  h2 Documentation:
  a CLI Commands
  p use -p or --p or <p> to choose the prot you want this service to run locally
  p Like This: npm start -p 5969
